// Vars

$title-size: 20px;

$padding: 20px;
$content_break: 500px;

$text: #646C72;
$main: #12D2AD;
$lightest: #fff;
$darkest: #646C72;
$highlight: #F9785B;
$ui: #D8D8D8;

//Styles

body{
  background-color: #B2B9BE;
  padding:0;
  margin: 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: x-small;
  color: $text;
}

.wrapper{
  $width: 640px;
  max-width: $width;
  margin: 50px auto 0;
  background-color: #fff;
  border-top:4px solid $main;
  @media (max-width: $width){
    margin-top: 0; 
  }
}

.twitter-search{
  &__header{
    background-color: $darkest;
    padding: 20px;
    &__title{
      font-size: 2.5em;
      margin: 0;
      color: $lightest;
      font-weight: normal;
    }
  } // twitter-search header
  
  &__list{
    list-style: none;
    padding: 20px;
    margin: 0;
    li{
      border-top: 2px solid $ui;
      padding:10px 10px;
      cursor: pointer;
      &:first-child{
        border-top: none;
        padding-top: 0;
      }
    }
  } // twitter-search list

  &__entry{
    font-size: 1.5em;
    padding: 20px 30px 10px;
    border-bottom: 2px solid $ui; 
    @media (max-width: $content_break){
      font-size: 1em;
    }
  } // twitter-search entry

  &__interactions{
    background-color: lighten($ui, 11);
  } // twitter-search interactions

  &__back{
    color: $lightest;
    font-size: 1.5em;
    text-decoration: none;
    padding: 5px 10px 8px;
    margin-bottom: -1px;
    border-radius: 30px;
    background-color: $highlight;
    display: inline-block;
  } // twitter-search back
}

.tweet{
  $avatar_width: 58px;
  position: relative;
  padding-left: $avatar_width;
  @media (max-width: $content_break){
    padding-left: 0;
  }
  &__header{
    font-size:1.2em;
    cite{
      font-style: normal;
      font-weight: bold;
    }
    small{
      display: block;
      margin: 0.02em 0;
    }
    small, a{
      font-weight: normal;
    }
    a{
      color: $main;
      text-decoration: none;
    }
    @media (max-width: $content_break){
      min-height: 48px;
      margin-bottom: 10px;
      padding-left: $avatar_width;
      padding-top: 3px;
      font-size:1.5em;
    }
  } // tweet header
  &__content{
    font-size: 1.5em;
    margin: 5px 0;
    @media (max-width: $content_break){
      font-size: 2em;
    }
  } // tweet content
  &__user__avatar{
    position: absolute;
    left: 0;
    top: .25em;
  } // tweet user_avatar
  &__interaction{
    color: $highlight;
    p{
      margin:0;
    }
    p > * + *:before{
      content: "|";
      margin:0 7px 0 5px;
      display: inline-block;
    }
    @media (max-width: $content_break){
      font-size: 1.5em;
    }
  } // tweet user_interaction
  &__media_img{
    max-width: 100%;
    display: block;
    margin: 10px 0;
  } // tweet media_img
}

.retweets{
  padding:5px 30px 0;
  &__list{
    padding: 0;
    list-style: none;
  } // retweets list
  &__title{
    font-size: 1.5em;
  } // retweets title
  &__list__item{
    display: inline-block;
    width: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    @media (max-width: $content_break){
      width:50px;
      font-size: 1.2em;
    }
    img{
      max-width: 100%;
      display: block;
    }
    [data-user-name]{
      position: relative;
    }
    [data-user-name]:after{
      content: attr(data-user-name);
      background-color: $darkest;
      color: $lightest;
      position: absolute;
      bottom: 100%;
      margin-bottom: 5px;
      padding: 5px;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      border-radius: 15px;
      display: none;
      font-size: 1.2em;
    }
    [data-user-name]:hover:after{
      display: block;
    }
  } // retweets list_item
}